<mat-card>
  <mat-card-title>Autores</mat-card-title>
  <mat-card-subtitle>Listado</mat-card-subtitle>
  <mat-list role="list">
    <mat-list-item role="listitem">
      Item 1
      <div class="d-flex justify-content-end actions-buttons">
        <div class="p-2"><i class="material-icons">edit</i></div>
        <div class="p-2"><i class="material-icons">delete</i></div>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
